.registration-page-container {
  padding-top: 70px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1010%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(246%2c 246%2c 246%2c 1)'%3e%3c/rect%3e%3cpath d='M1340.737%2c508.279C1374.126%2c507.062%2c1400.531%2c483.154%2c1416.918%2c454.038C1432.942%2c425.568%2c1437.796%2c391.71%2c1422.631%2c362.773C1406.354%2c331.715%2c1375.799%2c308.207%2c1340.737%2c308.677C1306.333%2c309.138%2c1279.63%2c335.044%2c1262.559%2c364.918C1245.648%2c394.513%2c1237.968%2c430.041%2c1254.287%2c459.967C1271.226%2c491.029%2c1305.379%2c509.568%2c1340.737%2c508.279' fill='rgba(211%2c 209%2c 209%2c 0.51)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M452.976%2c363.348C480.335%2c364.024%2c511.227%2c361.913%2c525.444%2c338.529C540.02%2c314.554%2c529.261%2c285.044%2c515.424%2c260.635C501.336%2c235.783%2c481.544%2c210.722%2c452.976%2c210.693C424.375%2c210.664%2c403.793%2c235.285%2c390.307%2c260.507C377.726%2c284.037%2c372.574%2c312.308%2c386.459%2c335.093C399.895%2c357.141%2c427.165%2c362.71%2c452.976%2c363.348' fill='rgba(211%2c 209%2c 209%2c 0.51)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M400.477%2c263.362C448.216%2c265.066%2c501.769%2c260.236%2c526.805%2c219.554C552.66%2c177.541%2c536.31%2c125.157%2c511.917%2c82.279C487.18%2c38.795%2c450.487%2c-3.866%2c400.477%2c-2.51C351.912%2c-1.194%2c321.533%2c44.991%2c299.031%2c88.049C278.606%2c127.131%2c266.776%2c172.891%2c288.862%2c211.059C310.918%2c249.175%2c356.468%2c261.791%2c400.477%2c263.362' fill='rgba(211%2c 209%2c 209%2c 0.51)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M114.274%2c683.007C153.466%2c682.115%2c188.865%2c661.326%2c209.057%2c627.724C229.916%2c593.013%2c234.15%2c550.504%2c215.502%2c514.557C195.297%2c475.61%2c158.094%2c442.809%2c114.274%2c445.02C72.897%2c447.108%2c49.225%2c487.618%2c29.318%2c523.952C10.489%2c558.319%2c-6.749%2c597.65%2c11.713%2c632.215C30.977%2c668.282%2c73.396%2c683.937%2c114.274%2c683.007' fill='rgba(211%2c 209%2c 209%2c 0.51)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M123.333%2c387.151C158.709%2c387.199%2c188.796%2c362.718%2c205.122%2c331.335C220.225%2c302.303%2c216.991%2c267.817%2c199.944%2c239.883C183.633%2c213.155%2c154.615%2c198.694%2c123.333%2c197.312C89.066%2c195.799%2c51.857%2c203.252%2c34.029%2c232.555C15.668%2c262.733%2c24.257%2c300.526%2c41.927%2c331.114C59.588%2c361.688%2c88.025%2c387.103%2c123.333%2c387.151' fill='rgba(211%2c 209%2c 209%2c 0.51)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M819.377%2c416.357C847.329%2c413.898%2c862.844%2c386.935%2c876.438%2c362.388C889.428%2c338.932%2c902.029%2c312.623%2c890.128%2c288.596C877.129%2c262.351%2c848.654%2c247.985%2c819.377%2c247.186C788.563%2c246.345%2c757.667%2c258.233%2c741.603%2c284.541C724.904%2c311.889%2c725.521%2c346.634%2c741.804%2c374.231C757.83%2c401.393%2c787.961%2c419.12%2c819.377%2c416.357' fill='rgba(211%2c 209%2c 209%2c 0.51)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M167.718%2c752.163C221.769%2c756.512%2c286.427%2c755.07%2c312.845%2c707.714C338.959%2c660.903%2c301.502%2c608.548%2c273.247%2c562.998C247.219%2c521.038%2c217.055%2c475.743%2c167.718%2c473.752C115.803%2c471.657%2c70.063%2c507.622%2c46.327%2c553.84C24.474%2c596.393%2c33.119%2c646.418%2c58.092%2c687.218C81.858%2c726.045%2c122.342%2c748.512%2c167.718%2c752.163' fill='rgba(211%2c 209%2c 209%2c 0.51)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1138.057%2c728.203C1195.231%2c727.888%2c1253.594%2c707.467%2c1281.717%2c657.687C1309.472%2c608.559%2c1295.03%2c549.271%2c1266.719%2c500.461C1238.527%2c451.856%2c1194.23%2c408.684%2c1138.057%2c410.011C1083.508%2c411.3%2c1047.146%2c459.254%2c1019.51%2c506.301C991.371%2c554.204%2c965.452%2c610.282%2c991.63%2c659.284C1018.874%2c710.281%2c1080.24%2c728.521%2c1138.057%2c728.203' fill='rgba(211%2c 209%2c 209%2c 0.51)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M589.285%2c204.747C629.004%2c202.272%2c656.444%2c169.625%2c676.196%2c135.077C695.756%2c100.865%2c709.135%2c61.123%2c691.566%2c25.847C672.24%2c-12.956%2c632.623%2c-38.436%2c589.285%2c-39.427C544.238%2c-40.457%2c501.127%2c-18.03%2c478.569%2c20.976C455.985%2c60.028%2c458.067%2c108.575%2c481.347%2c147.216C503.897%2c184.646%2c545.672%2c207.464%2c589.285%2c204.747' fill='rgba(211%2c 209%2c 209%2c 0.51)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1209.875%2c84.278C1236.04%2c84.184%2c1256.497%2c65.062%2c1270.224%2c42.787C1284.85%2c19.053%2c1296.423%2c-9.837%2c1282.894%2c-34.213C1269.091%2c-59.083%2c1238.311%2c-66.606%2c1209.875%2c-65.948C1182.755%2c-65.32%2c1155.733%2c-54.635%2c1142.484%2c-30.964C1129.493%2c-7.753%2c1135.344%2c20.262%2c1148.771%2c43.223C1162.047%2c65.926%2c1183.575%2c84.372%2c1209.875%2c84.278' fill='rgba(211%2c 209%2c 209%2c 0.51)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1010'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  font-family: "Poppins", sans-serif;
}

.registration-page-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.registration-form {
  width: 70%;
  max-width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff18;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.49);
  margin-bottom: 50px;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding: auto;
}

.field-title {
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

.field-input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.field-input select,
.field-input input {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  height: 30px;
}

.verify-button {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: #000000;
  background-color: #ffffff;
}

.otp-input {
  width: 40px;
  height: 40px;
  margin: 5px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  margin-top: 20px;
}

.button-input {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #1c1c1c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-input:hover {
  background-color: #000000;
}

.upi-payment {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.upi-payment h3 {
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #333;
}

.upi-payment .qr-code {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}