/* Navbar container */
.navbar-container {
  height: 60px;
  background: #1e1e1eb9;
  z-index: 11;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navbar links header */
.navbar-links-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Company name */
.company-name {
  display: none;
}

/* Navbar links container */
.navbar-links-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Navbar links */
.navbar-links {
  display: flex;
}

/* Navbar link item */
.navbar-links-container a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  font-size: 16px;
  align-items: center;
  text-decoration: none;
  color: #b0b0b0;
  transition: all 0.5s ease;
}

.navbar-links-container a:hover {
  color: #ff4500;
}

/* Sidebar active state */
#sidebar-active {
  display: none;
}

/* Open/close sidebar buttons */
.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

/* Dropdown menu */
.dropdown {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  color: #b0b0b0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2c2c2c;
  min-width: 160px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  flex-direction: column;
}

.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}

.dropdown-content a:hover {
  background-color: #3e3e3e;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.nested-submenu .submenu-item {
  display: flex;
  gap: 10px;
}

.contact-button {
  display: none;
}

.contact-button-detail {
  display: none;
}

/* Media query for responsive design */
/* Centering the company name */
@media (max-width: 768px) {
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo a {
    margin-left: 10px;
    font-size: 1.2rem; /* Adjust font size as needed */
  }

  .navbar-links-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
  }

  .company-name {
    display: none; /* Hide the centered company name */
  }

  .open-sidebar-button {
    display: flex;
    align-items: center;
  }

  /* The rest of your existing media query styles */
  .navbar-links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    width: 250px;
    height: 100vh;
    background-color: #1e1e1e;
    backdrop-filter: blur(5px);
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease;
    -webkit-overflow-scrolling: touch; /* Enable momentum scrolling on iOS */
    overflow-y: auto; /* Ensure scroll for content overflow */
    overflow-x: hidden;
  }

  .navbar-links-container a {
    box-sizing: border-box;
    color: #ffffff;
    height: auto;
    padding: 15px 30px;
    width: 100%;
    justify-content: flex-start;
    text-align: left;
  }

  .dropdown {
    padding: 0;
  }

  .dropdown-toggle {
    padding: 20px 30px;
    color: #ffffff;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
  }

  .open-sidebar-button,
  .close-sidebar-button {
    padding: 20px;
    display: block;
    color: #ffffff;
    cursor: pointer;
    align-items: end;
  }

  .close-sidebar-button {
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
  }

  #sidebar-active:checked ~ .navbar-links-container {
    left: 0;
  }

  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
  }

  .dropdown-content {
    padding: 0;
    margin-left: 30px;
    background-color: transparent;
    display: none;
  }

  .dropdown-toggle {
    color: #ffffff;
  }

  .submenu-item {
    padding: 5px;
  }

  .nested-submenu:hover .nested-submenu-content {
    display: flex;
  }

  .dropdown:hover .dropdown-content,
  .dropdown:hover {
    display: block;
    box-shadow: none;
  }

  .dropdown:hover .navbar-links a:nth-child(3),
  .dropdown:hover .navbar-links a:nth-child(4) {
    display: none;
  }

  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }

  .dropdown-content .submenu-item {
    padding: 10px 30px;
    color: #ffffff;
  }

  .dropdown-content .submenu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .dropdown:hover ~ .move-down {
    display: block;
    position: relative;
    margin-top: 100px;
  }

  .contact-button {
    position: fixed;
    bottom: 5%;
    left: -3%;
  }

  .contact-button-detail {
    display: block;
    position: fixed;
    bottom: 4%;
    color: #ffffff;
    font-size: 15px;
    margin-left: 30px;
    left: -3%;
  }
}
